.signin-container {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 7rem);
  overflow: hidden;
}

.auth-img {
  min-width: 100%;
  max-height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
  top: 0;
}
