.signin_container {
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 7rem);
  overflow: hidden;
}

.auth_img {
  min-width: 100%;
  max-height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
  top: 0;
}

.greating_container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  height: 100%;
}

.main_header {
  font-size: 1.52rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

@media screen and (max-height: 40.3em) {
  .signin_container {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 46em) {
  .signin_container {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 39em) {
  .signin_container {
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }

  .auth_img {
    display: none;
  }
}
