.cart_total_container {
  position: fixed;
  right: 0rem;
  top: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.52);
  padding: 3rem 2rem;
  margin: 2rem;

  & .cart_line {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.52);
    margin-top: 1.5rem;
  }

  & .cart_total_info {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 41em) {
  .cart_total_container {
    position: static;
    border: 1px solid rgba(0, 0, 0, 0.52);
    padding: 2rem 1rem;
    margin: 2rem;
    // justify-self: center;
  }
}
