@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: var(--black);
}

.payment_page_container {
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-y: scroll;
}

.form_container {
  width: 80%;
}

.payment_total_container {
  position: fixed;
  right: 0rem;
  top: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.52);
  padding: 3rem 2rem;
  margin: 2rem;

  & .payment_line {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.52);
    margin-top: 1.5rem;
  }

  & .payment_total_info {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1.5rem;
  }
}
