.categories_container {
  width: 100vw;
  height: calc(100vh - 6rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 0;
  align-content: center;
  background-color: rgba(249, 249, 249, 0.247);
  font-size: 0.9rem;
}
