.mobile-icon {
  position: fixed;
  right: 25px;
  top: 40px;
  border: none;
  background-color: transparent;
  z-index: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 2px;
  background: rgb(25, 25, 25);
  border-radius: 2px;
  transition: 0.4s ease;
}

.bar1.close-icon {
  transform: rotate(-135deg) translateY(-10px);
}

.bar3.close-icon {
  transform: rotate(135deg) translateY(10px);
}

.bar2.close-icon {
  opacity: 0;
}

.mobile-container {
  position: fixed;
  right: -200%;
  top: 0;
  bottom: 0;
  width: 0;
  visibility: hidden;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  transition: all 1s;
}

.open-mobile-nav {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
}
.mobile-nav-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 10px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}
