.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  z-index: 200;

  .logo-container {
    height: 100%;
    width: 70px;
    z-index: 200;

    .logo {
      height: 100px;
      width: 100px;
      z-index: 200;
    }
  }

  .links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
