.navigation {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(253, 253, 253);
  font-size: 0.9rem;

  .nav_link_sign {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: var(--green-dark);
    border-right: 0.5px solid var(--green-dark);
    display: block;
    text-align: left;
    transition: all 0.3s;
    z-index: 200;

    &:hover {
      transform: scale(1.02);
      filter: brightness(1.4);
    }
  }

  .logo_container {
    height: 100%;
    width: 70px;
    z-index: 200;

    .logo {
      height: 6rem;
      width: 6rem;
      z-index: 200;
      margin-left: 0.4rem;
    }
  }

  .links_container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .permanent_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .heart_container {
      height: 100%;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .heart_logo {
        cursor: pointer;
        transition: all 0.3s;
        height: 2.5rem;
        color: var(--green-dark);
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (max-height: 50em) and (max-width: 53em) {
  .permanent_items {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 39em) {
  .permanent_items {
    margin-right: 4rem;
  }
}
