.navigation {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(253, 253, 253);
  font-size: 0.9rem;

  .logo_container {
    height: 100%;
    width: 70px;
    z-index: 200;

    .logo {
      height: 6rem;
      width: 6rem;
      z-index: 200;
      margin-left: 0.4rem;
    }
  }

  .links_container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}

@media only screen and (max-height: 50em) and (max-width: 53em) {
  .permanent_items {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 39em) {
  .permanent_items {
    margin-right: 3rem;
  }
}
